
.chatMessage{
background-color: wheat;
display: block;
}
.hidden{
display: none;
padding: 1% 0;
}
.sender{
    min-width: 30px;
    text-align: center;
    padding: 0px;
    font-size: 35px;
    background-color: aqua;
}
.Chats{
    display: flex;
    align-items: end;
    flex-direction: column;
    
}
.Chat{
    border: 2px double grey;
    text-align: center;
    min-width: 180px;
    font-size: 30px;
    
}
.messageText{
    background-color: wheat;
}
.messageForm{
    display: flex;
    align-items: end;
    flex-direction: column;
}